<template>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body text-center">
                    <h1>Dashboard - About Us</h1>
                    <hr>
                    <div>
                        <p>This website uses a combination of javascript libraries
                        and prolog knowledge bases in order to produce crucuial data 
                        for the exclusive use within the Ministry of Health.</p>
                        <p>This application anonymously generates the following:</p>
                        <ul>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> BMI (Base Metabolic Index)</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Hypertensive Risk (From Diastolic and Systolic Readings)</li>
                        </ul>
                        <p>In addition to the aforementioned features, the system also makes note of all submissions
                            to be used for statistcal purposes by the Ministry of Health.
                        </p>
                        <p>Click <router-link to="/add-patient">here</router-link> to get started.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
