<template>
    <div>
    <div class="header-area">
        <div class="row align-items-center">
            <!-- nav and search button -->
            <div class="col-md-6 col-sm-8 clearfix">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <!-- header area end -->
    
    <div class="d-flex col-md-12 justify-content-center mt-3 mb-3 ">
        <div>
            <h1>MOH - Expert Systems</h1>
        </div>
    </div>
</div>
</template>

<script>
    export default{
        name:'NavigationBar',
        data:function(){
            return {
                name:"Dashboard"
            }
        }
    }
</script>
