<template>
    <div class="row">
        <!-- basic form start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Patient Information</h4>
                    <form>
                        <div class="row">
                            <div class="col-sm-6 my-1">
                                <label class="sr-only" for="age">Age</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Age</div>
                                    </div>
                                    <input type="number" class="form-control" v-model="age" id="age"  placeholder="20"/>
                                </div>
                            </div>
                            <div class="col-sm-6 my-1">
                                <label class="sr-only" for="weight">Weight</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">lbs</div>
                                    </div>
                                    <input type="number" class="form-control" v-model="weight" id="weight" placeholder="Weight"/>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-5">
                                <label class="control-label">Height</label>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="sr-only" for="height_feet">Height</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Ft</div>
                                        </div>
                                        <input type="number" class="form-control" v-model="height_feet" id="height_feet"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="sr-only" for="height_inches">Height</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">in.</div>
                                        </div>
                                        <input type="number" class="form-control" v-model="height_inches" id="height_inches"/>
                                    </div>
                                </div>
                            </div>
                        <br/>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="col-form-label" for="ethnicity">Ethnicity</label>
                                <select id="ethnicity" v-model="selected" class="form-control">
                                    <option v-for="option in options" v-bind:aria-value="option.value"> 
                                        {{option.text}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-5">
                                <label class="control-label">Blood pressure</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="sr-only" for="systolic"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Systolic</div>
                                    </div>
                                    <input type="number" class="form-control" v-model="systolic" id="systolic"/>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="sr-only" for="diastolic"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Diastolic</div>
                                    </div>
                                    <input type="number" class="form-control" v-model="diastolic" id="diastolic"/>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <div class="row">
                            <div class="col-auto my-1">
                                <button type="submit" v-on:click="handleAddingPatient" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- basic form end -->
    </div>
</template>

<script>
    import expertSystems from '../assets/js/prolog';

    export default {
        data(){
            return{
                selected:'Select one',
                options:[
                    {text: 'Black',value:'black'},
                    {text: 'Caucasian', value:'caucasian'},
                    {text:'Indian',value:'indian'},
                    {text:'Other',value:'other'},
                ],
                age:0,
                weight:0,
                height_feet: 0,
                height_inches:0,
                diastolic:0,
                systolic:0
            };
        },
        methods:{
            handleAddingPatient(event){
                event.preventDefault();
                let height = Number((this.height_feet*12)) + Number(this.height_inches);
                expertSystems.testHypertensive(this.weight,height,this.systolic,this.diastolic);
            },
        }
    }
</script>