<template>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Reports</h4>
                    <table class="table" style="width:100%">
                        <tr>
                            <th>Hypertension Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                           <td>
                                Normal Level
                           </td>
                            <td>
                                {{counts[0]}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Elevated Level
                            </td>
                            <td>
                                {{counts[1]}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Stage 1 Hypertension
                            </td>
                            <td>
                                {{counts[2]}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Stage 2 Hypertension
                            </td>
                            <td>
                                {{counts[3]}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Crisis
                            </td>
                            <td>
                                {{counts[4]}}
                            </td>
                        </tr>

                        <tr v-for="person in persons">
                            <td>{{person}}</td>
                            <td>{{person}}</td>
                            <td>{{person}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>    
</template>

<script>
    import expertSystems from '../assets/js/prolog';

    export default {
        data(){
            return{
                counts: []
            };
        },
        beforeMount() {
            this.counts = expertSystems.reportHypertension();
        }
    }
</script>