<template>
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <router-link to="/">
                <img src="public/images/icon/logo.png" alt="logo">
                </router-link>
            </div>
            <h4 class="text-center text-white mt-2"> MOH - Expert Systems</h4>
        </div>


    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li>
                        <router-link to="/">Dashboard</router-link>
                    </li>
                    <li>
                        <router-link to="/add-patient">Enter patient</router-link>
                    </li>
                    <li>
                        <router-link to="/reports">Reports</router-link>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</template>

<script>
    import {EventBus} from "./event-bus";

    export default {
        name: 'sidebar',
        data:function(){
            return{
                name:"Dashboard"
            }
        },
        methods:{
            handleSideBarClick: function(event){
                this.name = event.target.innerHTML;
                EventBus.$emit('NavbarName',this.name);
            }
        },
    }
</script>
